In [144]:
 # Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
import os
import pandas as pd

In [145]:
executable_path = {'executable_path': r"C:\Users\kapali_s\Documents\SMU\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

# NASA MARS NEWS

In [146]:
#Url of the page to be scraped
url = 'https://mars.nasa.gov/news/'

browser.visit(url)
html = browser.html
#Create BeautifulSoup object; parse 
soup = bs(html, 'html.parser')

In [147]:
#Extract title texts
news_title = soup.find('div', class_='content_title').text
print(news_title)

InSight Captures Sunrise and Sunset on Mars

In [148]:
#Paragraph Text. 
news_p = soup.find('div', class_='article_teaser_body').text

In [149]:
news_p

"InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day."

# JPL Mars Space Images - Featured Image

In [150]:
executable_path = {'executable_path': r"C:\Users\kapali_s\Documents\SMU\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [151]:
url = 'https://www.jpl.nasa.gov/spaceimages'
browser.visit(url)
html = browser.html
#Create BeautifulSoup object; parse 
soup = bs(html, 'html.parser')

In [152]:
#image url of the current featured Mars Image
featured_image = soup.find('a', class_='button fancybox')['data-fancybox-href']
featured_image

'/spaceimages/images/mediumsize/PIA18904_ip.jpg'

In [153]:
featured_image_url = 'https://www.jpl.nasa.gov/' + featured_image
featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA18904_ip.jpg'

# Mars Weather

In [154]:
url = 'https://twitter.com/marswxreport'
browser.visit(url)

In [155]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [156]:
#Print all classes
results = soup.find(class_="js-tweet-text")
for result in results:
    print(result)

InSight sol 154 (2019-05-03) low -97.6ºC (-143.7ºF) high -17.2ºC (1.0ºF)
winds from the SW at 4.5 m/s (10.0 mph) gusting to 13.1 m/s (29.2 mph)
pressure at 7.40 hPa
<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/0KZXlbiuXO">pic.twitter.com/0KZXlbiuXO</a>

# Mars Facts

In [157]:
url = 'https://space-facts.com/mars/'

In [158]:
#Use pandas 'read_html' to parse the url
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [95]:
#make a table
df = tables[0]
df.columns = ["Description", "Values"]
df.head(9)

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [159]:
#Convert to html string
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [160]:
executable_path = {'executable_path': r"C:\Users\kapali_s\Documents\SMU\chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [162]:
url_1 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(url_1)
html = browser.html
#Create BeautifulSoup object; parse 
soup = bs(html, 'html.parser')#image url of the current featured Mars Image
title_1 = soup.find('h2', class_='title').text
title_1
image_1 = soup.find('img', class_='wide-image')['src']
featured_image_1 = 'https://astrogeology.usgs.gov' + image_1
featured_image_1

'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'

In [164]:
url_2 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
browser.visit(url_2)
html = browser.html
#Create BeautifulSoup object; parse 
soup = bs(html, 'html.parser')#image url of the current featured Mars Image
title_2 = soup.find('h2', class_='title').text
title_2
image_2 = soup.find('img', class_='wide-image')['src']
featured_image_2 = 'https://astrogeology.usgs.gov' + image_2
featured_image_2

'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'

In [166]:
url_3 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
browser.visit(url_3)
html = browser.html
#Create BeautifulSoup object; parse 
soup = bs(html, 'html.parser')#image url of the current featured Mars Image
title_3 = soup.find('h2', class_='title').text
title_3
image_3 = soup.find('img', class_='wide-image')['src']
featured_image_3 = 'https://astrogeology.usgs.gov' + image_3
featured_image_3

'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'

In [168]:
url_4 = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
browser.visit(url_4)
html = browser.html
#Create BeautifulSoup object; parse 
soup = bs(html, 'html.parser')#image url of the current featured Mars Image
title_4 = soup.find('h2', class_='title').text
title_4
image_4 = soup.find('img', class_='wide-image')['src']
featured_image_4 = 'https://astrogeology.usgs.gov' + image_4
featured_image_4

'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'

In [172]:
hemisphere_image_urls  = [{"title": title_1, "img_url": featured_image_1},
                                  {"title": title_2, "img_url": featured_image_2},
                                  {"title": title_3, "img_url": featured_image_3},
                                  {"title": title_4, "img_url": featured_image_4}
                         ]